Repository dart-lang/i18n, pull requests merged in 2023-05, with the labels that each got.

#643 Run dart fix on pkgs/intl
  pkgs/intl/test/find_locale_test.dart
Labels: type-code-health

#650 Add stub for conditional export
  pkgs/intl/lib/find_locale.dart
  pkgs/intl/lib/intl_default.dart
Labels: pkg:intl

#653 blast_repo fixes
  .github/dependabot.yaml
Labels: infra

#655 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_intl_translation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/missing-locale.md
  .github/ISSUE_TEMPLATE/wrong-locale-data.md
  pkgs/intl/.github/dependabot.yml
  pkgs/intl/.github/workflows/test-package.yml
  pkgs/intl_translation/.github/ISSUE_TEMPLATE/feature_request.md
  pkgs/intl_translation/.github/dependabot.yaml
  pkgs/intl_translation/.github/workflows/build.yaml
  pkgs/intl_translation/.github/workflows/publish.yaml
Labels: type-enhancement, P3, type-infra, infra

#664 Add deprecated locale matcher
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/src/intl_helpers.dart
  pkgs/intl_translation/CHANGELOG.md
  pkgs/intl_translation/example/Makefile
  pkgs/intl_translation/example/lib/generated/messages_all.dart
  pkgs/intl_translation/example/lib/generated/messages_all_locales.dart
  pkgs/intl_translation/example/lib/generated/messages_de.dart
  pkgs/intl_translation/example/lib/generated/messages_de_CH.dart
  pkgs/intl_translation/example/lib/generated/messages_en.dart
  pkgs/intl_translation/example/lib/generated/messages_es.dart
  pkgs/intl_translation/example/lib/generated/messages_iw.dart
  pkgs/intl_translation/example/lib/messages/material_iw.arb
  pkgs/intl_translation/example/pubspec.yaml
Labels: type-enhancement, P2, pkg:intl, pkg:intl_translation
