Repository dart-lang/i18n, pull requests merged in 2023-07, with the labels that each got.

#648 Add intl4x number format
  .github/workflows/intl4x.yml
  pkgs/intl4x/example/web/main.dart
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/number_format.dart
  pkgs/intl4x/lib/src/ecma/ecma_policy.dart
  pkgs/intl4x/lib/src/number_format/number_format.dart
  pkgs/intl4x/lib/src/number_format/number_format_4x.dart
  pkgs/intl4x/lib/src/number_format/number_format_ecma.dart
  pkgs/intl4x/lib/src/number_format/number_format_impl.dart
  pkgs/intl4x/lib/src/number_format/number_format_options.dart
  pkgs/intl4x/lib/src/number_format/number_format_stub.dart
  pkgs/intl4x/lib/src/test_checker.dart
  pkgs/intl4x/lib/src/utils.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/ecma/numberformat_test.dart
Labels: infra, pkg:intl4x

#673 Add PR Health workflow
  .github/workflows/health.yaml
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/find_locale.dart
  pkgs/intl/lib/locale.dart
  pkgs/intl/lib/src/global_state.dart
  pkgs/intl/test/number_format_compact_icu_test.dart
  pkgs/intl/test/number_format_compact_web_test.dart
  pkgs/intl_translation/test/message_extraction/mock_flutter/services.dart
  pkgs/intl_translation/test/message_extraction/print_to_list.dart
  pkgs/intl_translation/test/message_extraction/verify_messages.dart
Labels: pkg:intl, pkg:intl_translation, infra, skip-license-check

#674 Add intl4x collation
  .gitignore
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/collation.dart
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/src/collation/collation.dart
  pkgs/intl4x/lib/src/collation/collation_4x.dart
  pkgs/intl4x/lib/src/collation/collation_ecma.dart
  pkgs/intl4x/lib/src/collation/collation_impl.dart
  pkgs/intl4x/lib/src/collation/collation_options.dart
  pkgs/intl4x/lib/src/collation/collation_stub.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/ecma/collation_test.dart
  pkgs/intl4x/test/icu4x/collation_test.dart
Labels: pkg:intl4x, skip-license-check

#678 Add ECMA402 display names
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/display_names.dart
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/src/display_names/display_names.dart
  pkgs/intl4x/lib/src/display_names/display_names_4x.dart
  pkgs/intl4x/lib/src/display_names/display_names_ecma.dart
  pkgs/intl4x/lib/src/display_names/display_names_impl.dart
  pkgs/intl4x/lib/src/display_names/display_names_options.dart
  pkgs/intl4x/lib/src/display_names/display_names_stub.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/ecma/display_names_test.dart
Labels: pkg:intl4x

#679 update the readmes for this repo
  .github/ISSUE_TEMPLATE/intl4x.md
  README.md
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/README.md
  pkgs/intl4x/pubspec.yaml
Labels: infra, pkg:intl4x

#683 Workflow changes
  .github/workflows/health.yaml
  .github/workflows/publish.yaml
Labels: infra

#682 Locale changes
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/README.md
  pkgs/intl4x/example/web/main.dart
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/src/collation/collation_ecma.dart
  pkgs/intl4x/lib/src/display_names/display_names_ecma.dart
  pkgs/intl4x/lib/src/display_names/display_names_impl.dart
  pkgs/intl4x/lib/src/ecma/ecma_policy.dart
  pkgs/intl4x/lib/src/find_locale.dart
  pkgs/intl4x/lib/src/intl_browser.dart
  pkgs/intl4x/lib/src/intl_standalone.dart
  pkgs/intl4x/lib/src/list_format/list_format_ecma.dart
  pkgs/intl4x/lib/src/locale.dart
  pkgs/intl4x/lib/src/locale_browser.dart
  pkgs/intl4x/lib/src/locale_native.dart
  pkgs/intl4x/lib/src/number_format/number_format_ecma.dart
  pkgs/intl4x/lib/src/number_format/number_format_impl.dart
  pkgs/intl4x/lib/src/utils.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/ecma/collation_test.dart
  pkgs/intl4x/test/ecma/display_names_test.dart
  pkgs/intl4x/test/ecma/list_format_test.dart
  pkgs/intl4x/test/ecma/numberformat_test.dart
  pkgs/intl4x/test/icu4x/collation_test.dart
  pkgs/intl4x/test/icu4x/list_format_test.dart
  pkgs/intl4x/test/locale/locale_parse_web_test.dart
  pkgs/intl4x/test/locale/locale_test.dart
Labels: pkg:intl4x

#689 Update health.yaml
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
Labels: type-infra

#690 Update labeler.yml
  .github/labeler.yml
Labels: type-infra
