Repository dart-lang/i18n, pull requests merged in 2023-08, with the labels that each got.

#702 Add `copyWith`
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/src/collation/collation_options.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_options.dart
  pkgs/intl4x/lib/src/display_names/display_names_options.dart
  pkgs/intl4x/lib/src/list_format/list_format_options.dart
  pkgs/intl4x/lib/src/number_format/number_format_ecma.dart
  pkgs/intl4x/lib/src/number_format/number_format_options.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/ecma/numberformat_test.dart
Labels: package:intl4x

#704 Add full ECMA locale
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/src/collation/collation_4x.dart
  pkgs/intl4x/lib/src/collation/collation_ecma.dart
  pkgs/intl4x/lib/src/collation/collation_impl.dart
  pkgs/intl4x/lib/src/collation/collation_stub.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_4x.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_ecma.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_impl.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_stub.dart
  pkgs/intl4x/lib/src/display_names/display_names.dart
  pkgs/intl4x/lib/src/display_names/display_names_4x.dart
  pkgs/intl4x/lib/src/display_names/display_names_ecma.dart
  pkgs/intl4x/lib/src/display_names/display_names_impl.dart
  pkgs/intl4x/lib/src/display_names/display_names_stub.dart
  pkgs/intl4x/lib/src/ecma/ecma_policy.dart
  pkgs/intl4x/lib/src/intl_browser.dart
  pkgs/intl4x/lib/src/intl_standalone.dart
  pkgs/intl4x/lib/src/list_format/list_format_4x.dart
  pkgs/intl4x/lib/src/list_format/list_format_ecma.dart
  pkgs/intl4x/lib/src/list_format/list_format_impl.dart
  pkgs/intl4x/lib/src/list_format/list_format_stub.dart
  pkgs/intl4x/lib/src/locale.dart
  pkgs/intl4x/lib/src/locale/locale.dart
  pkgs/intl4x/lib/src/locale/locale_ecma.dart
  pkgs/intl4x/lib/src/locale/locale_native.dart
  pkgs/intl4x/lib/src/locale_browser.dart
  pkgs/intl4x/lib/src/locale_native.dart
  pkgs/intl4x/lib/src/number_format/number_format_4x.dart
  pkgs/intl4x/lib/src/number_format/number_format_ecma.dart
  pkgs/intl4x/lib/src/number_format/number_format_impl.dart
  pkgs/intl4x/lib/src/number_format/number_format_stub.dart
  pkgs/intl4x/lib/src/utils.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/locale/locale_parse_web_test.dart
  pkgs/intl4x/test/locale/locale_test.dart
Labels: package:intl4x

#703 Add new `EEEEE` pattern for `DateFormat`
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/src/intl/date_format.dart
  pkgs/intl/lib/src/intl/date_format_field.dart
  pkgs/intl/pubspec.yaml
  pkgs/intl/test/number_format_compact_icu_test.dart
Labels: package:intl

#701 Add license headers to some files.
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/find_locale.dart
  pkgs/intl/lib/locale.dart
  pkgs/intl/lib/src/global_state.dart
  pkgs/intl/test/number_format_compact_icu_test.dart
  pkgs/intl/test/number_format_compact_web_test.dart
Labels: package:intl

#698 Fix `yy` parsing
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/src/intl/date_builder.dart
  pkgs/intl/lib/src/intl/date_format_field.dart
  pkgs/intl/test/date_time_strict_test.dart
Labels: package:intl

#706 Add conformance testing
  .github/workflows/conformance.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/tools/conformance_config.json
  pkgs/intl4x/test/tools/conformance_parser.dart
Labels: type-infra, package:intl4x

#686 abstract number parsing
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/intl.dart
  pkgs/intl/lib/src/intl/number_format.dart
  pkgs/intl/lib/src/intl/number_parser.dart
  pkgs/intl/lib/src/intl/number_parser_base.dart
Labels: package:intl

#708 Fix conformance testing
  .github/workflows/conformance.yml
Labels: type-infra
