Repository dart-lang/i18n, pull requests merged in 2024-02, with the labels that each got.

#783 Fix clearing cache of failed locale lookup after successfully resolving locale
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/message_lookup_by_library.dart
  pkgs/intl/test/message_lookup_by_library.dart
Labels: package:intl

#789 Retrigger publishing of `package:intl4x`
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/pubspec.yaml
Labels: package:intl4x

#795 Add resource identifier annotations
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/src/collation/collation_impl.dart
  pkgs/intl4x/lib/src/datetime_format/datetime_format_impl.dart
  pkgs/intl4x/lib/src/display_names/display_names_impl.dart
  pkgs/intl4x/lib/src/list_format/list_format_impl.dart
  pkgs/intl4x/lib/src/locale/locale.dart
  pkgs/intl4x/lib/src/number_format/number_format_impl.dart
  pkgs/intl4x/lib/src/plural_rules/plural_rules_impl.dart
  pkgs/intl4x/pubspec.yaml
Labels: package:intl4x

#799 Add support for plural rules from ICU4X
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/src/plural_rules/plural_rules_4x.dart
  pkgs/intl4x/test/plural_rules_test.dart
Labels: package:intl4x

#802 Support WASM for `package:intl`
  .github/workflows/intl.yml
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/find_locale.dart
  pkgs/intl/lib/intl_browser.dart
  pkgs/intl/lib/src/http_request_data_reader.dart
  pkgs/intl/lib/src/locale/locale_extensions.dart
  pkgs/intl/lib/src/locale/locale_implementation.dart
  pkgs/intl/pubspec.yaml
  pkgs/intl/test/number_format_compact_web_test.dart
Labels: type-infra, package:intl
