Repository dart-lang/i18n, pull requests merged in 2024-08, with the labels that each got.

#863 added central kordi to the rtl language regex
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/src/intl/bidi.dart
  pkgs/intl/test/bidi_utils_test.dart
Labels: package:intl

#867 Don't build unnecessary ICU4X components
  .github/workflows/intl4x.yml
  .github/workflows/intl4x_artifacts.yml
  pkgs/intl4x/hook/build.dart
Labels: type-infra, package:intl4x

#870 Update binaries
  pkgs/intl4x/hook/README.md
  pkgs/intl4x/hook/hashes.dart
  pkgs/intl4x/hook/version.dart
Labels: package:intl4x, skip-changelog-check

#878 Update SDK constraint for `pub publish`
  .github/workflows/conformance.yml
  .github/workflows/intl4x.yml
  .github/workflows/publish.yaml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/pubspec.yaml
Labels: type-infra, package:intl4x, publish-ignore-warnings

#876 Fix artifacts workflow
  .github/workflows/intl4x_artifacts.yml
  pkgs/intl4x/hook/hashes.dart
  pkgs/intl4x/tool/regenerate_hashes.dart
Labels: type-infra, package:intl4x

#879 Trying to publish `intl4x` yet again
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/hook/README.md
  pkgs/intl4x/hook/build.dart
  pkgs/intl4x/lib/src/hook_helpers/hashes.dart
  pkgs/intl4x/lib/src/hook_helpers/version.dart
  pkgs/intl4x/tool/regenerate_hashes.dart
Labels: package:intl4x, publish-ignore-warnings

#877 Fix linking to fetch the libraries from Github
  .github/workflows/intl4x_artifacts.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/hook/build.dart
  pkgs/intl4x/lib/src/hook_helpers/hashes.dart
  pkgs/intl4x/lib/src/hook_helpers/version.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/tool/regenerate_hashes.dart
Labels: type-infra, package:intl4x, publish-ignore-warnings
