Repository dart-lang/i18n, pull requests merged in 2024-11, with the labels that each got.

#909 Publish `v0.20.0` of `package:intl`
  pkgs/intl/CHANGELOG.md
  pkgs/intl/pubspec.yaml
Labels: package:intl

#911 add links to the individual issue trackers
  .github/ISSUE_TEMPLATE/intl4x.md
  .github/labeler.yml
  README.md
  pkgs/intl/pubspec.yaml
  pkgs/intl4x/pubspec.yaml
  pkgs/intl_translation/pubspec.yaml
  pkgs/messages_shrinker/pubspec.yaml
Labels: type-infra, package:intl, package:intl_translation, package:intl4x, skip-changelog-check, package:messages_shrinker

#913 Publish v0.20.1 of intl_translation
  pkgs/intl_translation/CHANGELOG.md
  pkgs/intl_translation/pubspec.yaml
Labels: package:intl_translation

#917 Update web dependency constraint to `"^1.1.0"`
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/intl.dart
  pkgs/intl/pubspec.yaml
Labels: package:intl

#921 rev package:intl to 0.20.1 in prep for publishing
  pkgs/intl/CHANGELOG.md
  pkgs/intl/pubspec.yaml
Labels: package:intl
