Repository dart-lang/i18n, pull requests merged in 2024-06, with the labels that each got.

#846 Add `topics` to package intl_translation `pubspec.yaml`
  pkgs/intl_translation/CHANGELOG.md
  pkgs/intl_translation/pubspec.yaml
Labels: package:intl_translation

#849 Fix dependencies in intl4x
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/hook/build.dart
  pkgs/intl4x/pubspec.yaml
Labels: package:intl4x

#851 Bump to latest lints
  pkgs/intl/example/pubspec.yaml
  pkgs/intl4x/example/pubspec.yaml
  pkgs/intl_translation/pubspec.yaml
  pkgs/intl_translation/test/message_extraction/find_messages_test.dart
  pkgs/messages/example_json/pubspec.yaml
  pkgs/messages/pubspec.yaml
  pkgs/messages_builder/pubspec.yaml
  pkgs/messages_serializer/lib/messages_serializer.dart
  pkgs/messages_serializer/pubspec.yaml
  pkgs/messages_shrinker/pubspec.yaml
Labels: package:intl, package:intl_translation, package:intl4x, skip-changelog-check, package:messages, package:messages_serializer, package:messages_builder, package:messages_shrinker
