Repository dart-lang/i18n, pull requests merged in 2025-06, with the labels that each got.

#970 feat!: allow analyzer 7.0.0 and update dart_style to ^3.0.0
  pkgs/intl_translation/CHANGELOG.md
  pkgs/intl_translation/lib/src/messages/constant_evaluator.dart
  pkgs/intl_translation/lib/src/messages/main_message.dart
  pkgs/intl_translation/lib/src/messages/message.dart
  pkgs/intl_translation/lib/visitors/message_finding_visitor.dart
  pkgs/intl_translation/pubspec.yaml
  pkgs/intl_translation/test/constant_evaluator_test.dart
  pkgs/intl_translation/test/generate_localized/code_map_messages_all.dart
  pkgs/intl_translation/test/generate_localized/code_map_messages_all_locales.dart
  pkgs/intl_translation/test/generate_localized/code_map_messages_fr.dart
  pkgs/intl_translation/test/two_components/app_messages_all.dart
  pkgs/intl_translation/test/two_components/app_messages_all_locales.dart
  pkgs/intl_translation/test/two_components/app_messages_fr.dart
  pkgs/intl_translation/test/two_components/component_messages_all.dart
  pkgs/intl_translation/test/two_components/component_messages_all_locales.dart
  pkgs/intl_translation/test/two_components/component_messages_fr_xyz123.dart
Labels: package:intl_translation

#981 Use new artifacts in `package:intl4x`
  .github/workflows/intl4x.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/example_native/pubspec.yaml
  pkgs/intl4x/hook/build.dart
  pkgs/intl4x/lib/src/hook_helpers/hashes.dart
  pkgs/intl4x/lib/src/hook_helpers/version.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/tool/regenerate_hashes.dart
  pkgs/intl4x/tool/write_option_file.dart
Labels: type-infra, package:intl4x

#880 Add locale-sensitive casing
  .github/workflows/intl4x.yml
  .github/workflows/intl4x_artifacts.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/hook/build.dart
  pkgs/intl4x/lib/case_mapping.dart
  pkgs/intl4x/lib/intl4x.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping_4x.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping_ecma.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping_impl.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping_stub.dart
  pkgs/intl4x/lib/src/case_mapping/case_mapping_stub_4x.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/test/case_mapping_test.dart
Labels: type-infra, package:intl4x, skip-fetch

#980 Add comment to package:intl pubspec.
  pkgs/intl/pubspec.yaml
Labels: package:intl, skip-changelog-check
