Repository dart-lang/i18n, pull requests merged in 2025-03, with the labels that each got.

#953 Publish `package:intl4x: 0.11.0`
  .github/workflows/intl4x.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/pubspec.yaml
Labels: type-infra, package:intl4x

#948 feat(intl): ignore script subtags when canonicalizing locale strings
  pkgs/intl/CHANGELOG.md
  pkgs/intl/lib/intl.dart
  pkgs/intl/lib/src/intl_helpers.dart
  pkgs/intl/test/intl_test.dart
  pkgs/intl/test/number_format_test_core.dart
Labels: package:intl

#955 Small fixes to intl4x
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/src/hook_helpers/build_options.dart
  pkgs/intl4x/lib/src/number_format/number_format_options.dart
  pkgs/intl4x/pubspec.yaml
Labels: package:intl4x

#956 Fix artifact building workflows
  .github/workflows/intl4x_artifacts.yml
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/hook/README.md
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/tool/build_libs.g.dart
  tools/regenerate_bindings.sh
Labels: type-infra, package:intl4x

#957 Grab new artifacts from version `intl4x-icu-v.0.11.2-artifacts`
  pkgs/intl4x/CHANGELOG.md
  pkgs/intl4x/lib/src/hook_helpers/hashes.dart
  pkgs/intl4x/lib/src/hook_helpers/version.dart
  pkgs/intl4x/pubspec.yaml
  pkgs/intl4x/tool/build_libs.g.dart
  pkgs/intl4x/tool/regenerate_hashes.dart
Labels: package:intl4x
